@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Source Code Pro'), local('Source Code Pro'), url('assets/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Source Code Pro Bold'), local('Source Code Pro Bold'), url('assets/SourceCodePro-Bold.ttf') format('truetype');
}

body {
  background: #262626;
  margin: 0px;
  padding: 0px;
}

.CodeMirror {
  margin: 0;
  padding: 0;
}

.CodeMirror-lines {
  line-height: 1.4em;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
  background: #262626;
}

.CodeMirror-scrollbar-filler {
  background: #262626;
}

#editor {
  position: absolute;
  top: 0px;
  bottom: 24px;
  left: 0;
  right: 0;
  background: #262626;
}

html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.modeline {
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  color: #d0c0b0;
  background: #262626;
  padding: 4px;
  height: 20px;
  left: 0;
  right: 0;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.modeline label {
  font-weight: bold;
}

#select {
    background: #262626;
    color: #d0c0b0;
    font-family: "Source Code Pro", monospace;
    font-size: 10pt;
    -webkit-appearance: button-bevel;
}

::-webkit-scrollbar { width: 12px; height: 12px; }
::-webkit-scrollbar-track { background: transparent; border-radius: 12px; }
::-webkit-scrollbar-thumb { border-radius: 10px; background: rgba(255,255,255,0.15); border:1px solid rgba(255,255,255, 0.40); }
::-webkit-scrollbar-corner { background:transparent; }
