<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>alpaca</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>CFBundleGetInfoString</key>
	<string>alpaca 0.9d1</string>
	<key>CFBundleName</key>
	<string>alpaca</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9</string>
	<key>CFBundleVersion</key>
	<string>0.9d1</string>
	<key>CFBundleIdentifier</key>
	<string>net.bardcode.alpaca</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleIconFile</key>
	<string>alpaca.icns</string>
</dict>
</plist>
